<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WellcomeServlet</servlet-name>
        <servlet-class>Controller.WellcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>Controller.DisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemServlet</servlet-name>
        <servlet-class>Controller.ThemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuaServlet</servlet-name>
        <servlet-class>Controller.SuaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaServlet</servlet-name>
        <servlet-class>Controller.XoaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimServlet</servlet-name>
        <servlet-class>Controller.TimServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WellcomeServlet</servlet-name>
        <url-pattern>/WellcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemServlet</servlet-name>
        <url-pattern>/ThemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuaServlet</servlet-name>
        <url-pattern>/SuaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaServlet</servlet-name>
        <url-pattern>/XoaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimServlet</servlet-name>
        <url-pattern>/TimServlet</url-pattern>
    </servlet-mapping>
</web-app>
